.container {
    margin-top: 5%;
    margin-bottom: 5%;
}

body {
   background-color: rgb(137, 88, 149);
}

#button {
    font-weight: bolder;
    font-size: 20px;
    border-radius: 15px;
    text-transform: uppercase;
}